SMARTSUPPLY_SQL_DRIVER=ODBC Driver 17 for SQL Server
SMARTSUPPLY_SQL_SERVER=localhost
SMARTSUPPLY_SQL_DATABASE=SmartSupply
SMARTSUPPLY_SQL_TRUSTED=yes
SMARTSUPPLY_SQL_TRUST_CERT=yes

# Tylko gdy nie używasz Windows Authentication:
# SMARTSUPPLY_SQL_TRUSTED=no
# SMARTSUPPLY_SQL_USER=login
# SMARTSUPPLY_SQL_PASSWORD=password

SMARTSUPPLY_API_TITLE=SmartSupply API
SMARTSUPPLY_API_VERSION=0.1.0
SMARTSUPPLY_API_CORS_ORIGINS=*
